.input {
    padding: 6px;
}

h1, p, fieldset {
    width: 490px;
    padding: 15px;
    margin: 4px auto;
}

h1, p {
    text-align: center;
}

label {
    display: inline-block;
    width: 270px;
    vertical-align: top;
}

input[id='name'],input[id='email'],input[id='number'],select[id='dropdown'] {
    width: 200px;
}

textarea[id='t'] {
    width: 470px;
    height: 50px;
}